doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    script(src="/javascripts/paho.javascript-1.0.3/paho-mqtt.js")
    script(src="/javascripts/sender.js")
    script(src="/javascripts/receiver.js")

  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/sender") Sender
    section#wrapper
        block content
